@model IEnumerable<BookMe.Models.Copie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Etat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Etat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Livre.LivreId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CopieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CopieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CopieId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
